/*still not understanding SMACSS file structe. selectors aren't organized optimally*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: url(/media/guitar.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;

}

h1 {
  padding: 4.9%;
}
section {
  margin: 3.9%;
  padding: 1%;
}

header {
  color: white;
  font-size: 3em;
  background-color: rgba(0,0,0,0.2);
}
/*removing margin to get rid of white space*/
header h1 {
  margin: 0;
  padding: 0;
}
header h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#about ul li {
  text-align: left;
}
