
/*nav bar styling and hidden in hamburger menu on small viewports*/

.item {
  font-size: 30px;
  display: block;



}

nav ul, nav select{

  display: none;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  border-bottom: 1px solid black;
}

nav:hover ul, nav:hover select {
  display: block;
  max-width: 100%;
  margin:0 auto;
  padding: 0;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  display: inline-block;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.template {
  display: none;
}

/*media queries for larger screens*/
@media only screen and (min-width: 640px) {
  /*rules to display nav bar*/
  nav ul, nav select {
    display: block;
  }

  .item {
    display: inline-block;
    padding: 3%;
    text-align: center;
    border-bottom: none;

  }
  .frame, nav {
    background-color: rgba(224,224,209,0.9);
  }
  nav {
    max-width: 940px;
    margin: 0 auto;
  }

  p {
    font-size: 24px;
    text-align: left;
  }

  /*rules to limit and center main content*/
  .frame {
    max-width: 940px;
  }
  #menu {
    display: none;
  }
}
